.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Background color */
}

.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
}

.score-section {
  margin-top: 20px;
}

.Question-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white; /* Question box background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  transition: box-shadow 0.3s; /* Add transition for hover effect */
}

.Question-container:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}

.Question {
  margin-bottom: 10px;
}

.Options {
  padding: 0;
}

.Options li {
  margin-bottom: 10px;
  list-style-type: none; /* Remove list styling bullets */
}

.Button-container {
  margin-top: 20px;
}

Button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

Button:hover {
  background-color: #0056b3;
}

Label {
  cursor: pointer;
}
